<template name="foo">
    <div style={{bgcolor}}>
        <!-- <button id="show-greeting">Toggle Greeting</button> -->
        <!-- <div id="greeting">Hello there!</div> -->
        {{ mspLogger}}
        <div id="two-js-container"></div>
        <script type="text/javascript">
          $(function() {
            // geometry
            var info = new AVUgenOne();

            var circle = two.makeCircle(500, 100, 50);
            circle.fill = '#FF8000';
            circle.stroke = 'orangered'; // Accepts all valid css color
            circle.linewidth = 5;
            var rect = two.makeRectangle(two.width / 2, two.height / 2, 20, 20);
            rect.noStroke().fill = getRandomColor();

            // Update the renderer in order to generate corresponding DOM Elements.
            two.update();

            // Animation Loop.
            info.toggleStart();
            two.bind('update', animate).play();  // Finally, start the animation

            function animateX(frameCount) {
                // dummy to switch off animation
            }

            function animate(frameCount) { 
                TWEEN.update(); 
            }

            // Bindings
            $(rect._renderer.elem)
              .css('cursor', 'pointer')
              .click(function(e) {
                rect.fill = getRandomColor();
              });

            $(circle._renderer.elem)
              .css('cursor', 'pointer')
              .click(function(e) {
                circle.fill = getRandomColor();
              });

            // two.bind('update', function(frameCount, timeDelta) {
            //   rect.rotation = frameCount / 60;
            // });

            function getRandomColor() {
              return 'rgb('
                + Math.floor(Math.random() * 255) + ','
                + Math.floor(Math.random() * 255) + ','
                + Math.floor(Math.random() * 255) + ')';
            }

          });
        </script>
    </div>
</template>
