// General styles, e. g. for the body tag
@import 'helpers.less';
@import 'variables.less';
@import 'lib/elements.less';


/* -------------------
    Semantic Overrides
   ------------------- */


/* modal height and content height are set with JS*/
.ui.modal {
    left: 5px;
    margin-left: 0px;
    width: 98%;
}

.ui.modal .header {
    font-weight: normal;
    padding: 1rem 5rem;
    text-transform: uppercase;
    background: inherit;
    border-bottom: 0px solid #ccc;
}

.ui.modal .content {
    display: block;
    overflow: auto;
    font-size: 1.3rem;
}

.ui.modal .content p {
    line-height: 1.8;
}

.ui.modal > .content {
    padding: 1rem 5rem;
}

i.icon.quote {
    color: #ccc;
    margin-bottom: 20px;
}

.ui.modal .content p.danni {
    font-style: italic;
    font-weight: normal;
    line-height: 1.6;
    padding-left: @quotePadding;
    @media only screen and (min-width: 768px) {width: 45%;}
}

.ui.modal .content p.danni-signature {
    font-weight: normal;
    margin-top: 20px;
    padding-left: @quotePadding;
}


.ui.dimmed.dimmable > .ui.animating.dimmer, .ui.dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
    opacity: 0.8;
}

#login-buttons .login-close-text {
    font-size: 11px;
}

.ui.modal .actions {
    background-color: inherit;
    border-top: 0px solid #ccc;
}

/* -------------------
    MSP
   ------------------- */

.primitives-microsite {
    background-color: black;
}
.accounts-dialog * {
    font-family: @fontFamily;
}

.pr {
    margin-top: 60px;
    // font-size: smaller;
}

.fluid-video {
    height: 0;
    padding-bottom: 56.3%;
    position: relative;
    margin-bottom: 30px;
}

.fluid-video > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#velocity-status-widget {
    display: none;
}

/* -------------------
    Main Content
   ------------------- */

body, #main {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: @fontFamily;
}

#main {
    margin: 0px 4px 0px 0px;
}

a {
    transition: 0.3s color;

    &:hover {
        color: @primaryLinkHoverColor;
    }
}

.icon {
    &.orange {
        color: @html5Orange;
    }
}

.ui.header {
    font-family: 'Glegoo', serif;
}

/* -------------------
    Footer
   ------------------- */
.padding-wrapper.footer {
    border-radius: 0px;

    a:hover {
        color: @secondaryLinkHoverColor;
    }
}

/* -------------------
    Progress bar
   ------------------- */

#iron-router-progress {
    background-color : #988aac;
    box-shadow       : 0 0 5px #884fbf;
}

#iron-router-progress.spinner:before {
    border-color : #dfdfdf;
}
