<head>
    <title>...loading</title>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
    <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2">

    <script type="text/javascript" src="/javascript/two.js"></script>
    <script type="text/javascript" src="/javascript/tween.js"></script>
    <script type="text/javascript" src="/javascript/animations.js"></script>
    <script type="text/javascript" src="/javascript/AVUgenOne.js"></script>
    <script type="text/javascript" src="/javascript/AVUgenTwo.js"></script>
    <script type="text/javascript" src="/javascript/AVUgenThree.js"></script>

</head>